# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE specific folders
.idea/
.vscode/
.DS_Store
.dccache
.iac-data
## VSCode workspace file
workspace*.code-*

# Transit folders
/vendor/
/bin/

# whatever the rules are, include all the `.md` files
!*.md

# Remove the local samples
local
