# Uncomment this line to add the logs from a different repository
#[submodules "logs"]
    #path = logs
    #url = git@github.com:aau-network-security/riotpot-logs.git

# Submodule of the Trudy repo with all the latest changes
[submodule "trudy"]
    path = riotpot/emulators/trudy
    url = git@github.com:praetorian-inc/trudy.git
[submodule "riotpot/trudy"]
	path = riotpot/trudy
	url = https://github.com/praetorian-inc/trudy.git
