@import "../../styles";

@mixin Dropdown{
    div.dropdown-menu{
        @include popup;

        a.dropdown-item{
            gap: 1em;
            display: flex;
            flex-direction: row;

            &:hover{
                background: $border-dark;
                color: $color;
            }

            > div.row{
                width: -webkit-fill-available;
            }
        }
    }
}

@include Dropdown;